button {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 10px;
  font-family: sans-serif;
  border: 0;
  width: 100%;
  // max-width: 220px;
}

.rond-colored {
  border-radius: 50px;
  background-color: #181818;
  color: #ffffff;
  height: 40px;
  width: 40px;
  align-content: center;
}
.rond-colored:hover {
  background-color: #636262;
}
.rond-transparent {
  border-radius: 50px;
  background-color: transparent;
  color: #ffffff;
  height: 40px;
  width: 40px;
  align-content: center;
}
.rond-transparent:hover {
  background-color: #494848;
}

.r8{border-radius: 8px;}
.secondary {
  background-color: #272727;
  color: #ffffff;
}
.secondary:hover {
  background-color: #414040;
}
.primary {
  background-color: #f1f1f1;
  color: #0f0f0f;
}

.r16 {
  border-radius: 16px;
}

.right-r16-solid-border {
  color: #ffffff;
  background-color: #232523;
  border: solid 1px #303030;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.left-r16-right-border {
  color: #ffffff;
  background-color: #312f2c;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: solid 1px #454340;
}

.right-r16-left-border {
  color: #ffffff;
  background-color: #312f2c;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: solid 1px #454340;
}
.left-r16-right-border:hover {
  background-color: #454340;
}
.right-r16-left-border:hover {
  background-color: #454340;
}
