:host {
  display: block;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: transparent;
  margin: 0;
}

/*color = 'white' | 'black' | 'grey'*/
:host([color='white']) {
  color: white;
}
:host([color='black']) {
  color: black;
}
:host([color='grey']) {
  color: rgb(119, 116, 116);
}
/* bold = 'bold' | 'normal'*/
:host([bold='bold']) {
  font-weight: bold;

}
:host([bold='normal']) {
  font-weight: normal;
}
