p {
    font-family: sans-serif;
    background-color: transparent;
  }
  
  :host(.title) p {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 0 4px 0;
  }
  :host(.normal) p {
    color: rgb(119, 116, 116);
    font-weight: 200;
    font-size: 1.2rem;
  }
  