:host {
  div {
    display: flex;
    flex-direction: row;
    max-width: 644px;
    height: 40px;
  }
  button-ytb {
    height: 40px;
    width: 32px;
    ytb-icon {
      width: 25px;
      height: 20px;
      padding: 0 5px;
    }
  }
  ytb-input {
    width: 540px;
    height: 40px;
  }
}
