:host {
  div {
    display: flex;
    flex-direction: row;
    max-width: 644px;
    height: 40px;
  }
  button-ytb {
    height: fit-content;
    width: max-content;
    ytb-icon {
      font-size: 18px;
      padding: 0 5px;
    }
  }
  ytb-input {
    width: 540px;
    height: 40px;
  }
}
