button {
    display: flex;
    align-items: baseline;
    background-color: rgb(39 39 39);
    color: white;
    border: 1px solid rgb(39 39 39);
    border-radius: 7px;
    margin: 5px;
    padding: 8px;
    font-family: sans-serif;
  }
  
  button:hover {
    background-color: rgb(66, 66, 66);
    color: white;
    border: 1px solid rgb(66 66 66);
  }
  
  button:active {
    background-color: #ebecef;
    color: black;
    border: 1px solid #ebecef;
  }
  
  // :host(.green) button {
  //   background: #53a258;
  //   color: white;
  // }
  
  // :host(.green) button:hover {
  //   background: #4e9553;
  // }
  
  // :host(.green) button:active {
  //   background: #498c4e;
  // }