:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 8px 16px;

  img-ytb {
    margin-right: 8px;
    height: 94px;
    width: 168px;
    border-radius: 7px;
  }
  .vinfo {
    margin-right: 8px;
    height: 100%;
    display: block;
    padding-right: 24px;
    line-height: 6px;
    align-items:baseline;
  }
}
