:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 16px;
  img-annotated{
    margin:8px;
  }
  .vinfo {
    gap: 3px;
    margin-right: 8px;
    max-height: 94px;
    display:flex;
    flex-direction: column;
    padding-right: 24px;
    padding-top: 5px;
  }
}
