:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 16px;
  img-annotated{
    margin:8px;
  }
  .vinfo {
    margin-right: 8px;
    height: 100%;
    display: block;
    padding-right: 24px;
    line-height: 6px;
    align-items:baseline;
  }
}
